/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: absolute;
    width: 1321px;
    height: 646px;
    left: 121px;

    top: 57px;
    background: #161616;
    border-radius: 30px;
}


.heading {
    position: absolute;
    width: 542px;
    height: 434px;
    left: 150px;
    top: 50px;
}

.headd {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-top: 21px;
    color: #FFFFFF;
}

.para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 21px;
    color: #FFFFFF;
}

.live {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    width: 187px;
    height: 56px;
    left: 259px;
    top: 534px;
    background: red;
    border-radius: 10px;
}

.btn {
    width: 24px;
    height: 24px;
    color: white;
    position: absolute;
    left: 22.5%;
    right: 46.33%;
    bottom: -3.5%;
    background-color: red;
    border: 0;
}

.watch {
    margin-top: auto;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: #050000;
}

.image {
    position: absolute;
    width: 881px;
    height: 813px;
    left: 701px;
    top: -3px;
}

/* sesond part menubar */
.menubar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 312px;
    height: 312px;
    left: 140px;
    top: 826px;
    background: #161616;
    border-radius: 10px;
}

.lives {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px;
    gap: 10px;
    width: 250px;
    height: 65px;
    margin-top: 33px;
    margin-left: 30px;
    background: rgb(252, 250, 250);
    border-radius: 10px;
}

.watchs {
    margin-top: 0%;
    margin-left: 5%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #070707;
}

.livess {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px;
    gap: 10px;
    width: 250px;
    height: 65px;
    margin-top: 25px;
    margin-left: 30px;
    background: rgb(252, 250, 250);
    border-radius: 10px;
}

.watchss {
    margin-top: 0%;
    margin-left: 25%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #080808;
}

.livesss {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px;
    gap: 10px;
    width: 250px;
    height: 65px;
    margin-top: 25px;
    margin-left: 30px;
    background: rgb(255, 4, 4);
    border-radius: 10px;
}

.watchsss {
    margin-top: 0%;
    margin-left: 40%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #f8f6f6;
}

/* player transfer */


.transfer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.ptrans {
    position: absolute;
    width: 280px;
    height: 362px;
    left: 336px;
    top: 0px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptranss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 672px;
    top: 0px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptransss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1008px;
    top: 0px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptranssss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 336px;
    top: 390px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptransssss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 672px;
    top: 390px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptranssssss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1008px;
    top: 390px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptransssssss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 336px;
    top: 780px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptranssssssss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 672px;
    top: 780px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.ptransssssssss {
    position: absolute;
    width: 312px;
    height: 362px;
    left: 1008px;
    top: 780px;
    background-color: rgb(197, 207, 207);
    display: flex;
    border-radius: 10px;
}

.player-banner img {
    position: absolute;
    width: 312px;
    height: 175px;
    left: 0px;
    top: 0px;
    border-radius: 10px 10px 0px 0px;
}

.player-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    position: absolute;
    width: 100px;
    height: 32px;
    left: 25px;
    top: 190px;
    border-radius: 5px;
    border-color: rgb(197, 207, 207);
    background-color: rgb(197, 207, 207);
}

.shos {
    color: #070000;
    margin-top: 10px;
}

.player-title {
    position: absolute;
    width: 272px;
    height: 54px;
    left: 20px;
    top: 220px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
}

.course-duration {
    position: absolute;
    width: 60px;
    height: 26px;
    left: 15px;
    top: 320px;
    color: black;
    background-color: rgb(197, 207, 207);
}

.course-durations {
    position: absolute;
    width: 60px;
    height: 26px;
    left: 35px;
    top: 320px;
    color: black;
    background-color: rgb(197, 207, 207);
}

.fa fa-clock {
    color: rgb(15, 15, 15);
}

.fa-solid fa-message-dots {
    color: #080808;
}

/* footer */

.footcont {
    position: absolute;
    width: 1600px;
    height: 444px;
    left: 55px;
    top: 2090px;
    background: #000000;
}

.foot {
    position: absolute;
    width: 95px;
    height: 60px;
    margin-top: 7%;
    margin-left: 45%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #fcfbfb;
}

hr {
    position: absolute;
    width: 1320px;
    height: 1px;
    left: 140px;
    margin-top: 12%;
    margin-left: 0%;
    border: 1px solid rgb(49, 48, 48) (235, 223, 223, 0.1);
}

.details {
    position: absolute;
    left: 21.94%;
    right: 21.94%;
    top: 53.92%;
    bottom: 35.13%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 12px;
    font-feature-settings: 'liga' off;
    background-color: #0a0a0a;
    color: #dad7e2;
}

.contin {
    display: flex;
    /* padding-left: 5%;
    padding-right: 5%; */
}

.a {
    padding-left: 2px;
}

.b {
    padding-left: 25px;
}

.c {
    padding-left: 40px;
}

.d {
    padding-left: 50px;
}

.e {
    padding-left: 65px;
}

.f {
    padding-left: 80px;
}